
:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Lato, sans-serif;
  color: black;
}
a {
  text-decoration: none;
}
a:hover {
  color: #005FA3;
}
p {
  font-size: 18px;
  line-height: 25px;
}

.container {
  padding-right: 18%;
  padding-left: 18%;
}

.section-container {
  padding-top: 140px;
  padding-bottom: 140px;
}

@media screen and (max-width: 1700px) {
  .container {
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media screen and (max-width: 1500px) {
  .container {
    padding-right: 7%;
    padding-left: 7%;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 440px) {
  :root {
    font-size: 14px;
  }
}